*{background-color:black;
color: bisque;}
#img{text-align: center;
margin:40px;

}

h1{text-align: center;
letter-spacing: 8px;
color:orange;
background: rgb(77, 60, 60);}

input{
width: 100%;
padding: 10px;
margin: 10px;
background: white;
color: blue;
float:left;
justify-content: center;
text-align: center;
}

input:hover{
cursor: pointer;
}
h3 {font-size: 20px;
text-align: center;
border: 7px solid brown;
width: 200px;
justify-content: center;}